<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<form action="#" th:action="@{'/chat'}" th:object="${chatForm}" method="POST">
    <label for="username">Username:</label>
    <input id="username" type="text" th:field="*{username}">
    <label for="messageText">Message Text:</label>
    <input id="messageText" type="text" th:field="*{messageText}">
    <label for="messageType">Message Type: </label>
    <select id="messageType" th:field="*{messageType}">
        <option selected th:value="Say">Say</option>
        <option th:value="Shout">Shout</option>
        <option th:value="Whisper">Whisper</option>
    </select>

    <input type="submit">
</form>

<h1 th:each="msg: ${messages}"
    th:text="${msg.username + ': ' + msg.messageText}"
    th:unless="${msg.messageText.toLowerCase().contains('goodbye')}"
>No Messages</h1>

</body>
</html>